body {
    background-color: aqua;
}

.sun {
    background-color: orange;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.grass {
    background-color: green;
    height: 100px;
    
}